<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <h2>Olá, {{name}}!</h2>

    <section>
        <span>Recebemos uma solicitação de redefinição de senha. Você pode fazer isso
            através do botão abaixo</span>
    </section>

    <div>
        <a href="http://liberfans/redefinirsenha/{{token}}"><button class="btn">Mudar minha senha</button></a>
    </div>

    <span>Se você não reconhece a solicitação, ignore este e-mail. Sua senha permanecerá segura e não será
        alterada.</span>
</body>

<style>
    .btn {
        background-color: #311b92;
        /* Green */
        border: none;
        border-radius: 4px;
        margin: 20px 0 20px 0;
        color: white;
        padding: 15px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
    }

    body {
        background-color: #ede7f6;
    }
</style>

</html>