version: "3"
services:
  backend:
    build: ./backend
    command: npm start
    volumes:
      - ./backend:/backend
    ports:
      - 3000:3000

  frontend:
    build: ./frontend
    command: npm run serve
    volumes:
      - ./frontend:/frontend
    ports:
      - 8080:8080
