version: "3"
services:
  backend:
    container_name: backend
    build:
      context: ./backend

    volumes:
      - ./backend:/usr/app
      - /usr/app/node_modules

    ports:
      - "3000:3000"

  frontend:
    container_name: frontend
    build:
      context: ./frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "8080:8080"
