version: '3'
services:
  frontend:
    container_name: frontend
    build: .

    # volumes:
    #   - ./frontend:/app
    #   - /app/node_modules
    ports:
      - '8080:80'
    command: npm run serve
